.setting-0 {
    margin: 0 !important;
    padding: 0 !important;
    box-sizing: border-box;
}

body,
html,
#root {
    margin: 0 !important;
    padding: 0 !important;
}

.text-customBlue {
    color: #003049;
}

.text-customRed {
    color: #d62828;
}

.text-customOrange {
    color: #f77f00;
}

.text-customYellow {
    color: #fcbf49;
}

.text-customLemon {
    color: #EAE2b7;
}

.bg-customBlue {
    background-color: #003049;
}

.bg-customRed {
    background-color: #d62828;
}

.bg-customOrange {
    background-color: #f77f00;
}

.bg-customYellow {
    background-color: #fcbf49;
}

.bg-customLemon {
    background-color: #EAE2b7;
}